@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --vdi-bg: #071010;
  --azul-neon: #00FFFF;
  --largura: 1240px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.section-hero {
  background-image: url(../../public/bg-hero.jpg);
  background-position: top center;
  background-size: cover;
  position: relative;
}
.section-hero:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(180deg,rgba(7, 16, 16, 0) 0%, rgba(7, 16, 16, 1) 100%);
  z-index: 1;
}

.section-waves {
  background-image: url(../../public/bg-waves.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.programacao {
  position: relative;
}
.programacao::before {
  content: '';
  width: 100%;
  height: 800px;
  position: absolute;
  bottom: -300px;
  right: -50%;
  filter: blur(200px);
  background: #00FFFF69;
  border-radius: 100%;
  opacity: 0.5;
}

.bg-form {
  background-image: url(../../public/waves.png);
  background-position: center;
  background-size :contain;
  background-repeat: no-repeat !important;
}
